<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <mappers>
         <mapper resource="mapper/user_query.xml" />
         <mapper resource="mapper/product_query.xml" />
         <mapper resource="mapper/group_query.xml" />
         <mapper resource="mapper/faq_query.xml" />
         <mapper resource="mapper/board_query.xml" />
         <mapper resource="mapper/board_media_query.xml" />
         <mapper resource="mapper/group_media_query.xml" />
         <mapper resource="mapper/comment_query.xml" />
         <mapper resource="mapper/like_query.xml" />
         <mapper resource="mapper/follow_query.xml" />
         <mapper resource="mapper/shipping_addr_query.xml" />
         <mapper resource="mapper/payment_query.xml" />
         <mapper resource="mapper/alram_query.xml" />

    </mappers>
</configuration>
